.App {
  text-align: center;
}

body {
  overflow-y: hidden;
}
/* .search-bar {
  margin-top: 15%;
} */

.input-field {
  margin: 20px;
}

.search-content {
  overflow-y: auto !important;
  height: 625px;
  /* width: 400px !important; */
}

.input-text {
  font-size: 20px !important;
}

.food-text {
  font-size: 20px !important;
}

.address-text {
  font-size: 17px !important;
}
